@page
@model RohamPaint.Pages.FormulPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Color</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Color.CarID" class="control-label"></label>
                <select asp-for="Color.CarID" class ="form-control" asp-items="ViewBag.CarID" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Color.ColorTypeID" class="control-label"></label>
                <select asp-for="Color.ColorTypeID" class ="form-control" asp-items="ViewBag.ColorTypeID" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Color.Code" class="control-label"></label>
                <input asp-for="Color.Code" class="form-control" />
                <span asp-validation-for="Color.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.Comment" class="control-label"></label>
                <input asp-for="Color.Comment" class="form-control" />
                <span asp-validation-for="Color.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.Lock" class="control-label"></label>
                <input asp-for="Color.Lock" class="form-control" />
                <span asp-validation-for="Color.Lock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.LastUpdate" class="control-label"></label>
                <input asp-for="Color.LastUpdate" class="form-control" />
                <span asp-validation-for="Color.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.UnitId" class="control-label"></label>
                <select asp-for="Color.UnitId" class ="form-control" asp-items="ViewBag.UnitId" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Color.Usage" class="control-label"></label>
                <input asp-for="Color.Usage" class="form-control" />
                <span asp-validation-for="Color.Usage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.Accuracy" class="control-label"></label>
                <input asp-for="Color.Accuracy" class="form-control" />
                <span asp-validation-for="Color.Accuracy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color.BaseId" class="control-label"></label>
                <input asp-for="Color.BaseId" class="form-control" />
                <span asp-validation-for="Color.BaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
