@page
@model RohamPaint.Pages.FormulPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ColorCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColorCreateViewModel.CarId" class="control-label"></label>
                <select asp-for="ColorCreateViewModel.CarId" class="form-select" asp-items="ViewBag.CarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColorCreateViewModel.ColorTypeId" class="control-label"></label>
                <select asp-for="ColorCreateViewModel.ColorTypeId" class="form-select" asp-items="ViewBag.ColorTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColorCreateViewModel.Code" class="control-label"></label>
                <input asp-for="ColorCreateViewModel.Code" class="form-control" />
                <span asp-validation-for="ColorCreateViewModel.Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ColorCreateViewModel.UnitId" class="control-label"></label>
                <select asp-for="ColorCreateViewModel.UnitId" class="form-select" asp-items="ViewBag.UnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColorCreateViewModel.BaseId" class="control-label"></label>
                <select asp-for="ColorCreateViewModel.BaseId" class="form-select" asp-items="ViewBag.BaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ColorCreateViewModel.Comment" class="control-label"></label>
                
                <textarea asp-for="ColorCreateViewModel.Comment" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ColorCreateViewModel.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorCreateViewModel.Usage" class="control-label"></label>
                <textarea asp-for="ColorCreateViewModel.Usage" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ColorCreateViewModel.Usage" class="text-danger"></span>
            </div>
            <div class="card shadow-sm" style="width: 22rem;">
                <div class="card-header bg-primary text-white text-center fw-bold">
                    Color Weights
                </div>

                <div class="card-body p-0">
                    <table class="table table-bordered mb-0 text-center">
                        <thead class="bg-warning">
                            <tr>
                                <th>Base Color</th>
                                <th>Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ColorWeights)
                            {
                                <tr>
                                    <td>@item.BaseColor</td>
                                    <td>@item.Weight</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
